<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões para Notificações e Alarmes -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nome_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hora_certa">

        <!-- SplashActivity definida como a tela inicial -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".TelaInicialActivity"
            android:exported="true" />

        <activity
            android:name=".CadastroMedicamentoActivity"
            android:exported="true" />

        <activity
            android:name=".CadastroConsultaActivity"
            android:exported="false" />

        <activity
            android:name=".CadastroLembreteActivity"
            android:exported="false" />

        <!-- Receiver para os Lembretes -->
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>